.titulopag {
    text-align: center;
    margin-bottom: 0.5rem;
}

.tablacesta {
    width: 100%;
    text-align: center;
    border: 0.1rem solid black;
    font-weight: bold;
}

.tablacesta thead {
    background-color: brown;
    border: 0.1rem solid black;
}

.tablacesta td {
    padding: 0.5rem;
    border: 0.1rem solid black;
}

.tr1cesta {
    background-color: green;
}

.td1cesta {
    background-color: white;
}

.tr2cesta {
    background-color: gray;
}